.home {
  background: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 10px;
}
.centerProduct {
  width: 60%;
}
.leftSidebar {
  width: 25%;
}
.selectedBag {
  width: 25%;
}
.top-bagSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-titles {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0.8em;
}
.leftSidebar {
  border-right: 1px solid #ebe9ff;
  height: 100%;
}
.selectedBag {
  border-left: 1px solid #ebe9ff;
  height: 100%;
}
.top-bagSide .btn {
  border: none;
  outline: 0;
  padding: 12px;
  cursor: pointer;
  color: #ffffff;
  background: #ffd960;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  transition: 1s;
}
.top-bagSide .btn:hover {
  background: red;
  transition: 1s;
}
.cartItems {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  width: 90%;
  margin: auto;
  height: 100px;
  text-align: center;
  font-family: arial;
  margin-top: 1em;
  border-radius: 8px;
}

@media screen and (max-width: 998px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
